header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E0E0E0 !important;
    border-top: 1px solid #3D88F7 !important;
}

header .navbar {
    padding: 20px 0;
    margin:0;
}

.navbar-default {
    background: transparent;
    border: none;
    padding: 0;
}

.navbar-brand {
    line-height: 1;
    padding: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #004080;
}

.navbar-default .navbar-nav>li>a{
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    color: #959595;
    font-size: 1.2em;
    text-transform: uppercase;
}

.navbar-nav > li {
    float: left;
    font-size: 15px;
}

.navbar-nav > li > a {
    margin-top: 11px;
    padding: 7px 15px;
    margin-left: 12px;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #004080;
}

.navbar-default .navbar-nav > li > a:focus {
    border: 3px solid #004080;
    color: #004080;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 3px !important;
}


.footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 19px;
    border-top: 1px solid #fff;
    background: #fff;
}