<section class="feature generic" id="menu-video">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="video">
                    <div class="fluid-width-video-wrapper" style="padding-top: 56.6667%;">
                        <iframe src="http://player.vimeo.com/video/4240369?title=0&amp;byline=0&amp;portrait=0" allowfullscreen="" id="fitvid695897"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1>School Building Video Tour</h1>
                <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat accumsan hendrerit. Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat accumsan hendrerit.</p>
                <ul>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Nulla ornare tortor quis rhoncus vulputate.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Vivamus a enim vel erat accumsan hendrerit. </a>
                    </li>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Nulla ornare tortor quis rhoncus vulputate.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Retina Display for Mobile HD Devices.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Vivamus asan 12,000 happy costumers.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
