<section id="menu-home" class="animated fadeInUp delay2">
    <div class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h1>The future of the language exchange </h1>
                <h1>is waiting for you</h1>
                <h2>Language exchange whenever you want about whatever you want.</h2>
                <button class="btn btn-danger btn-lg"> <i class="icon-gplus"></i>&nbsp Sign in with Google</button>
            </div>
        </div>
    </div>
    <div class="home-container home container">
        <div class="row">
            <div class="col-md-4 text-center item">
                <i class="icon-group"></i>
                <h3> Software Engineering</h3>
                <p> Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat. </p>
            </div>
            <div class="col-md-4 text-center item">
                <i class="icon-laptop"></i>
                <h3>Analytical Chemistry</h3>
                <p> Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat. </p>
            </div>
            <div class="col-md-4 text-center item">
                <i class="icon-emo-thumbsup"></i>
                <h3>Graphic Designer</h3>
                <p> Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat. </p>
            </div>
        </div>
    </div>
</section>
<section id="menu-feature" class="feature generic">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>Features of Linguita</h1>
                <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat accumsan hendrerit. Nulla ornare tortor quis rhoncus vulputate.</p>
                <ul>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Nulla ornare tortor quis rhoncus vulputate.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Vivamus a enim vel erat accumsan hendrerit. </a>
                    </li>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Nulla ornare tortor quis rhoncus vulputate.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="glyphicon glyphicon-ok"></i>Retina Display for Mobile HD Devices.</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="video">
                    <iframe width="480" height="311" src="http://www.powtoon.com/embed/fjcHTPIUuOh/" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="menu-more" class="more">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Get Free Linguita Mobile</h1>
            <div class="col-md-6">
                <img src="./images/icon-phone.png">
            </div>
            <div class="col-md-6">
                <p style="color:#fff;">Features of Linguita Nulla ornare tortor quis rhoncus vulputate.Nulla ornare tortor quis rhoncus vulputate.Nulla ornare tortor quis rhoncus vulputate.</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-default"><img src="./images/icon-googleplay.png"></button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default"><img src="./images/icon-appstore.png"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
